[Unit]
Description=Mojo Poker Server
After=network.target

[Service]
Type=forking
User={{ app_user }}
WorkingDirectory={{ app_dir }}/mojopoker-{{ app_version }}
EnvironmentFile={{ app_dir }}/.env
ExecStart={{ app_dir }}/mojopoker-{{ app_version }}/script/mojopoker.pl
PIDFile={{ app_dir }}/mojopoker-{{ app_version }}/mojopoker.pid
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
